*{
    /* link :
     https://graphicmama.com/blog/website-color-schemes/
     1. Beauregard
      */

    color: #f2f1ef;
    /* color: rgb(242, 241, 239); */
    color: #b1a6a4;
    /* color : rgb(177, 166, 164); */
    color: #697184;
    /* color : rgb(105, 113, 132); */
    color : #d8cfd0;
    /* color : rgb(216, 207, 208); */
    color : #413f3d;
    /* color : rgb(65, 63, 61); */
}